{
  "name": "UploadPortal",
  "version": "0.0.1",
  "main": "index.js",
  "scripts": {
    "start": "parcel ./index.html"
  },
  "keywords": [],
  "author": "",
  "license": "ISC",
  "description": "",
  "browserlist": [
    "last 1 Edge version",
    "last 1 Chrome version",
    "last 1 Firefox version",
    "last 1 safari version",
    "last 1 webkit version"
  ]
}
